.clear{clear:both;}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clear{clear:both;}

* html .clearfix { zoom: 1; }
/* End hide from IE-mac */
a:hover{color:#0566a9;}
a{text-decoration:none; color:#606060;}
a:visited{color:#333333;}
.clear{clear:both;}

.crumbs a:hover{
		color:#F2680D;
		text-decoration:underline;	
	}
	/*м start*/
/*--ݹʽ end--*/
.fix{*zoom:1;}.fix:after{display:block; content:'clear'; clear:both; line-height:0; visibility:hidden; } 

